@mixin text($fz, $fw, $col, $lh: auto) {
    font: {
        size: $fz;
        weight: $fw;
    }
    line-height: $lh;
    color: $col;
}

@mixin button($fz, $lh, $pv, $ph, $bcg, $col) {
    font-size: $fz;
    line-height: $lh;
    padding: $pv $ph;
    border-radius: 8px;
    background: $bcg;
    color: $col;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background: $orange-hover;
        color: #fff;
    }
}

@mixin tool-bcg($pv, $ph) {
    border-radius: 8px;
    padding: $pv $ph;
}

@mixin gradient-bcg($gradient) {
    background: $gradient;
    border: 1px solid $light-grey;
}
