$orange: #ff6e30;
$orange-hover: #ff7142;
$primary-grey: #1e252b;
$light-grey: #283036;
$caret-color: #837a93;
$golden-dark: #ffa537;
$red: #fd3b41;
$white-09: rgba(255, 255, 255, 0.9);
$white-055: rgba(255, 255, 255, 0.55);
