@import "./vars";
@import "./mixins";

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 104px;
    &__logo {
        &-container {
            display: flex;
            align-items: center;
        }
        &-img {
            margin-right: 12px;
        }
        &-title {
            @include text(22px, 600, $white-09);
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        padding-left: 60px;
        &-item {
            transition: opacity 0.3s ease-in-out;
            @include text(16px, 500, $white-055);
            margin-right: 41px;
            &:last-of-type {
                margin: 0;
            }
            &:hover {
                @include text(16px, 500, $white-09);
            }
        }
    }

    &__sign-up-button {
        @include button(16px, 24px, 12px, 28px, $orange, #fff);
        margin-left: 41px;
    }
}
