@import "./mixins";

.hero {
    padding-top: 26px;
    margin-bottom: 200px;

    &__bcg-img {
        position: absolute;
        top: 132px;
        right: 0;
        width: 587px;
    }

    &__preview {
        margin-bottom: 110px;
        &-title {
            @include text(50px, 500, $white-09, 70px);
            width: 600px;
            margin-bottom: 30px;
        }
        &-description {
            @include text(18px, 400, $white-055, 30px);
            width: 487px;
            margin-bottom: 60px;
        }
    }

    &__social {
        &-container {
            display: flex;
            padding: 12px;
            width: fit-content;
        }
        &-item {
            margin-right: 30px;
            cursor: pointer;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
